@{
    Layout = null;
}

@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>Billing Software - Opensource (Immanuel : Developer)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Opensource billing software, Immanuel developer, open source contributor" />
    <meta name="robots" content="index, follow" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="identifier-url" content="https://www.immanuel.co" />
    <meta name="Language" content="en, en-us, en-gb, en-bz, en-za" />
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <script src="https://cdn.jsdelivr.net/npm/ark-js-util@latest/ark-util.js"></script>
    <script src="~/js/table-resize.js"></script>
    <link rel="shortcut icon" type="image/png" href="https://immanuel.co/favicon.ico" />
    <link href="~/css/invoice.css" rel="stylesheet" />
</head>
<body>
    <div class="page">
        <header>
            <button style="position:absolute;top:10px;right:10px;" class="no-print" type="button">Save As Template</button>
            <h1 ark-editable contenteditable="">Invoice</h1>
            <address style="font-size:xx-small;height:70px;" contenteditable>
                <p>A.M.A. Traders</p>
                <p>No 31, Victoria Garden, Jawaharlal Nerhu Rd, Koyambedu<br>Chennai - 600107</p>
                <p>email: ameer2252009@gmail.com</p>
                <p>Phone / Mob: 9840302157 / 9994216173</p>
            </address>
            <span>
                <img alt="" src="/img/ama_traders_1.png" height="75">
                <input type="file" accept="image/*">
            </span>
        </header>
        <article style="height:780px;">

            <h1 contenteditable="" style="text-align:left;">Recipient</h1>
            <address contenteditable style="height:75px;font-size: medium;font-weight: normal;padding-top: 10px;font-family: system-ui;">
                <p>
                    Tamilnadu State Palmgur & Fibre <br />
                    Marketing Co-Op Federation Ltd.<br />
                    Palm Product Complex <br />
                    Pudukkottai – 622002
                </p>
            </address>
            <table class="meta">
                <tr>
                    <th><span contenteditable>Invoice #</span></th>
                    <td><span contenteditable>101138</span></td>
                </tr>
                <tr>
                    <th class="ark-date-time"><span contenteditable>Date</span></th>
                    <td><span contenteditable>January 1, 2012</span></td>
                </tr>
            </table>

            <table class="inventory">
                <thead>
                    <tr>
                        <th style="width:10px;"><span contenteditable>Sl <br />No</span></th>
                        <th style="width:50px;"><span contenteditable>HSN <br />Code</span></th>
                        <th><span contenteditable>பொருள்</span></th>
                        <th style="width:100px;"><span contenteditable>அளவு <br /> கிலோ எண்கள் </span></th>
                        <th style="width:100px;"><span contenteditable>ஒன்றின் விலை <br /> ரூ . பை </span></th>
                        <th style="width:100px;"><span contenteditable>மொத்தத் தொகை <br /> ரூ . பை</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td contenteditable=""><a class="cut">-</a><label data-slno>1</label></td>
                        <td><span contenteditable></span></td>
                        <td><span contenteditable style="resize: both;"></span></td>
                        <td><span contenteditable>1</span></td>
                        <td><span data-prefix>$</span><span contenteditable>0.00</span></td>
                        <td><span data-prefix>$</span><span style="min-width: 1em;display: inline-block;">0.00</span></td>
                    </tr>
                </tbody>
            </table>
            <div style="height:40px;width: 100%; border: 1px;">
                <a class="add">+</a>
                <span class="continue-label" style="float:right;margin-top: 10px;display:none;font-family: monospace;">continued...</span>
            </div>
            <table class="balance">
                <tr>
                    <th><span contenteditable>Total</span></th>
                    <td><span data-prefix>$</span><span contenteditable>600.00</span></td>
                </tr>
                <tr>
                    <th><span contenteditable>Amount Paid</span></th>
                    <td><span data-prefix>$</span><span contenteditable>0.00</span></td>
                </tr>
                <tr>
                    <th><span contenteditable>Balance Due</span></th>
                    <td><span data-prefix>$</span><span contenteditable>600.00</span></td>
                </tr>
            </table>

        </article>
        <aside>
            <h1 style="text-align:left;"><span contenteditable>Additional Notes</span></h1>
            <div contenteditable>
                <p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p>
            </div>
        </aside>
    </div>
    <script>
        var currency = '@ViewBag.currency';
    </script>
    <script src="/js/invoice.js"></script>
</body>
</html>